@import url(http://fonts.googleapis.com/css?family=Lato);
body {
    font: 18px 'Bitstream Vera Sans Mono', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
a {
    color: black;
    font-weight: 400;
}
a:hover {
    color: rgb(58, 133, 202);
}
h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Helvetica', sans-serif;*/
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
}
div.container {
    width: 740px;
    margin: 48px auto;
    padding: 0;
}
header {
    float: left;
}
nav {
    float: right;
}
header, nav {
    height: 25px;
    margin-bottom: 42px;
}
header, nav a {
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}
nav a:hover {
    text-decoration: underline;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    display: inline;
    margin: 0 2px;
    padding: 0;
}
div.body {
    clear: both;
}
footer {
    border-top: 1px solid #555;
    clear: both;
    padding-top: 10px;
    margin-top: 55px;
    font-size: 16px;
    text-align: center;
    color: #555;
}
footer p {
    margin: 0;
}
aside {
    float: right;
    padding-left: 15px;
    margin-top: 5px;
}
aside p {
    margin-top: 0px;
    font-style: italic;
    font-size: 15px;
}


#contact-area {
    width: auto;
    margin-top: 35px;
}
label {
    width:100px;
    margin-right: 5px;
    width: auto;
    padding-top: 10px;
    margin-top: 20px;
}
#contact-area input:focus {
    border: 1px solid #900;
}
#contact-area input.submit-button {
    width: 100px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #555;
    float: left;
}


