@import url(http://fonts.googleapis.com/css?family=Lato);
body {
    font: 18px 'Bitstream Vera Sans Mono', sans-serif;
    padding: 0;
    font-weight: 300;
}
header, footer, article, aside {
    display: block;
}
a {
    color: black;
    font-weight: 400;
}
a:hover {
    color: rgb(58, 133, 202);
}
.next {
    background-color:#4787ed;
    padding:5px 10px;
    color:#fff;
    text-decoration:none;
    border:1px solid #CCC;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 2%;
    text-align: center;
}
.next:hover {
    background-color:#000;
    color:#fff;
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
}
.wrapper {
    margin-left:auto;
    margin-right: auto;
    width: 740px;
    padding: 0;
}
footer {
    position: relative;
    width: 740px;
    margin: 4em auto;

    border-top: 1px solid #555;
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
    color: #555;
}
footer p {
    margin: 0;
}
header {
    float: left;
}
nav {
    float: right;
}
header, nav {
    height: 25px;
    margin-bottom: 42px;
}
header, nav a {
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}
nav a:hover {
    text-decoration: underline;
}
ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}
nav ul {
    margin: 0;
}
nav ul li {
    display: inline;
    margin: 0 2px;
    padding: 0;
}
div.body {
    clear: both;
}
aside {
    float: right;
    padding-left: 15px;
    margin-top: 5px;
}
aside p {
    margin-top: 0px;
    font-style: italic;
    font-size: 15px;
}
