aside {
    float: right;
    padding-left: 1em;
    margin-top: -0.5em;
}
aside > img {
    border-radius: 6px;
}
@media only screen and (max-device-width: 480px) {
    .jumbotron p {
        font-size: inherit;
    }
    aside {
        float:none;
        position: relative;
        left: -45px;
        display: block;
        width: 120%;
        padding-left: 0em;
        margin-top: 0.0em;
        margin-bottom: 0.35em;
        overflow: visible;
    }
    aside > img {
        width: 111%;
    }
    aside > figcaption {
        margin-left:45px;
        font-size: 90%;
    }
}

