<div id="contact-area">
    <form action="" method="post" name="url">
        {{form.hidden_tag()}}
        <label for="URL">Url of your schedule:</label>
        {{ form.url(size = 100, maxlength = 260) }}<br /><br />
        <label for="newCal">Create a new secondary calendar:</label>
        {{ form.new_cal() }}<br /><br />
        <input type="submit" value="Submit" class="submit-button" />
    </form>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes style="margin-top: 50px;">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}