{% extends "base.html" %}
{% block metatag %}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block content %}
    <div id="grab_url">
    <p>Now login with your myConcordia creditentials, and select the session you
    would like to convert.</p>
    <br>

    {% include "schedule_form.html" ignore missing %}
    </div>

    {% include "schedule_result.html" ignore missing %}
    <p id="thank_you"><br><br>Thank you very much for using this application, I
    hope it will be useful in your student life, please report issues
    <a href="https://github.com/samuelmasuy/Concordia-Schedule-to-Gcal/issues/new">on github.</a></p>
{% endblock %}
{% block including %}
    <script src="http://fgnass.github.io/spin.js/spin.min.js"></script>
    <script src='../static/js/main.js'></script>
{% endblock %}
