<div id="url-area">
    <form action="" method="post" name="url">
        {{form.hidden_tag()}}
        <label for="URL">Url of your schedule:</label>
        {{ form.url(size = 100, maxlength = 260) }}<br>
        {{ form.cal_id() }}
        <input class="next" type="submit" value="Create Events"/>
    </form>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes style="margin-top: 50px;">
    {% for message in messages %}
      <li>{{ message | safe }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}